{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "breaking",
            "release": "major"
          },
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "docs",
            "release": "patch"
          },
          {
            "type": "chore",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "build",
            "release": "patch"
          },
          {
            "type": "ci",
            "release": "patch"
          },
          {
            "type": "revert",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "test",
            "release": "patch"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "breaking",
              "section": "💣 Breaking Changes"
            },
            {
              "type": "feat",
              "section": "✨ Features"
            },
            {
              "type": "fix",
              "section": "🛠️ Bug Fixes"
            },
            {
              "type": "docs",
              "section": "📃 Docs"
            },
            {
              "type": "chore",
              "section": "🎨 Chore"
            },
            {
              "type": "perf",
              "section": "🎈 Performance improvements"
            },
            {
              "type": "refactor",
              "section": "🧹 Refactoring"
            },
            {
              "type": "build",
              "section": "🔍 Build"
            },
            {
              "type": "ci",
              "section": "🔍 CI"
            },
            {
              "type": "revert",
              "section": "⏪ Revert"
            },
            {
              "type": "style",
              "section": "🧹 Style"
            },
            {
              "type": "test",
              "section": "👀 Test"
            }
          ]
        }
      }
    ],
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "dryRun": true
}