package views

templ Footer() {
	<div class="mt-6 uk-card rounded-lg shadow w-2/4 mx-auto p-4 flex flex-col items-center justify-between">
		<span class="text-sm sm:text-center font-bold">
			© 2025 <a href="https://github.com/alexander-bruun/magi/" class="hover:underline">Magi™</a>. All Rights Reserved.
		</span>
	</div>
}
